@import url('https://fonts.googleapis.com/css?family=Lato');


body{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

.arrow_box::after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 30px;
	margin-top: -30px;
}

.beige {
	color: #EBE1D3
}

.bg-beige {
	background-color: #EBE1D3
}

.b--beige {
	border-color: #EBE1D3
}

.tomato {
	color: #C65146
}

.bg-tomato {
	background-color: #C65146
}

.b--tomato{
	border-color: #C65146
}

.concisegrey { 
	color: #DCDCDC
}

.bg-concisegrey { 
	background-color: #DCDCDC
}

.b--concisegrey { 
	border-color: #DCDCDC
}


.concisedark {
	color: #32373d
}

.bg-concisedark{
	background-color: #32373d
}

.b--concisedark{
	border-color: #32373d
}